
---



import MainHero from './Mainhero.astro';
import Navbar from './Navbar.astro';
import Sidebar from './Sidebar.astro';
---

<html  lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='flex flex-col justify-start '>
      <Navbar/>
      <MainHero/> 
      <div class='flex flex-row items-start gap-80px px-48px mt-10'>
      <Sidebar/>
          <div class='flex-1 mx-auto'>
          <slot/> <!-- your content is injected here -->
          </div>
      </div>
    </div>
  </body>
</html>