
---
import MainHero from './Mainhero.astro';
import Navbar from './Navbar.astro';
import Sidebar from './Sidebar.astro';
---

<html  lang="en">
  <body>
    <div class='flex flex-col justify-start transition-all duration-300 ease-in-out dark:bg-full-black'>
      <Navbar/>
      <MainHero/> 
      <div class='flex flex-row items-start gap-80px px-48px mt-10'>
      <Sidebar/>
          <div class='flex-1 mx-auto'>
          <slot/> <!-- your content is injected here -->
          </div>
      </div>
    </div>
  </body>
  <script>
	const parent= document.getElementById('parentHTML')
	const button = document.getElementById('toggleTheme')
	const toggleBg= document.getElementById('switch')
	const search= document.getElementById('searchInput')
	const clearIcon= document.getElementById('clear')
//TODO: show and hide the icon with typing

if ( search.value) {
clearIcon.style.visibility = "block"
}else{
  
clearIcon.style.visibility = "hidden"
}
	button.addEventListener("click",darkMode)
	function darkMode() {
	if (parent.classList.contains('dark')){
		parent.classList.remove("dark")
		toggleBg.style.left='6px'

	}
	else{	
		parent.classList.add("dark")
		toggleBg.style.left='106px'
	}

	}
	</script>
</html>