---
import MainHero from "./Mainhero.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "./Sidebar.astro";
import SectionSelector from "./SectionSelector.astro";
import '../styles/main.css'
import '../styles/markdown.css'
// import '../styles/prose.css'

const docs = await Astro.glob("../../../docs/**/*.md");
const guides = docs.flatMap((d) => {
	const doc = { ...d.getHeadings()[0]! };
	return { title: doc.text, href: "/docs/" + doc.slug, id: doc.slug };
});

const { sections } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/proxy-memoize/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Proxy Memoize</title>
	</head>
	<body>
		<div
			class="flex flex-col justify-start transition-all duration-300 ease-in-out dark:bg-full-black"
		>
			<Navbar guides={guides} />
			<div class=" overflow-scroll h-[calc(100vh-100px)]">

				<MainHero />
				<div class="w-100% px-48px flex flex-row items-start gap-80px mt-10 max-w-1600px mx-auto <lg:mt-0 <md:mt-8vw <md:px-20px">
					<Sidebar guides={guides} />
					<div class="flex-col mt-10 w-70% <lg:w-100% <lg:mt-6vw">
						<SectionSelector sections={sections} />
						<slot class="prose prose-violet"/>
						<!-- your content is injected here -->
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
    const htmlEl = document.getElementsByTagName('html')[0];
		if (localStorage.getItem('theme') === 'dark') {
		  htmlEl.classList.add("dark");
		}
	  </script>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	.prose:where(pre):not(:where(.not-prose,.not-prose *)) {
    padding: 1.25rem 1.5rem;
    overflow-x: auto;
    border-radius: 0.375rem;
    background: #183F6E ;
	}
</style>
