
    <div
      class="flex flex-col w-100% h-555px relative pt-2rem mt-65px <lg:h-330px <lg:pt-0 <md:h-500px <md:pt-1rem"
    >
      <img
        src="/lightHeroBg.png"
        alt="heroBg"
        class="dark:(hidden) w-100% z-0 absolute left-0 top-0 h-35vw <md:hidden"
      />
      <img
        src="/lightHeroMobileBg.png"
        alt="heroBg"
        class="hidden dark:(hidden) <md:block w-100% z-0 absolute left-0 top-0 h-100%"
      />
      <img
        src="/darkHeroBg.png"
        alt="heroBg"
        class="dark:(block) dark:(w-100% z-0 absolute left-0 top-0 h-35vw <md:hidden) hidden"
      />
      <img
        src="/darkHeroMobileBg.png"
        alt="heroBg"
        class="hidden dark:(hidden) dark:(<md:block w-100% z-0 absolute left-0 top-0 h-100% <md:block)"
      />

      <div
        class="flex flex-row justify-between items-start w-88% z-1 mx-auto <lg:w-85% <lg:max-w-800px <md:flex-col-reverse <md:justify-center <md:items-center <md:w-90%"
      >
        <div
          class="flex flex-col justify-start items-start gap-10px w-56% max-w-602px relative top-7% <lg:pt-1rem <lg:gap-5px <lg:w-50% <md:w-100% <md:pt-0 <md:max-w-300px"
        >
          <h1
            class="text-48px font-bold leading-44px text-white <lg:text-28px <lg:leading-32px <md:text-32px <md:text-center"
          >
            The Proxy Memoize Documentation
          </h1>
          <p
            class="text-16px font-meduime leading-25px text-white <lg:text-12px <lg:leading-18px <md:text-center"
          >
          Intuitive magical memoization library with Proxy and WeakMap
          </p>
          <button
            class="relative top-0.5rem w-144px h-48px rounded-12px bg-hex-0DA84B flex justify-center items-center gap-5px <lg:w-111px <lg:h-32px <lg:rounded-8px <md:mx-auto"
          >
            <p class="text-white text-14px font-meduime <lg:text-12px">
              Get started
            </p>
            <img src="/rightArrow.svg" alt="rightArrow" class="w-11px h-11px" />
            <img
              src="/btnWave.svg"
              alt="btnWave"
              class="absolute right-0 left-0 -bottom-1px w-144px h-12px <lg:-bottom-2px"
            />
          </button>
        </div>
        <img
          src="/heroVector.png"
          alt="heroVector"
          class="z-1 w-36vw pt-0.5rem <lg:w-300px <md:mx-auto <md:w-77% <md:max-w-248px"
        />
      </div>
      <!-- <img src="/heroWhiteBg.png" alt="heroWhiteBg" class="w-100% h-135px relative -top-9vw"/> -->
    </div>

