---
import ToggleTheme from './ToggleTheme.astro';
---
<html  lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='fixed z-10 w-full flex flex-row justify-between items-center gap-20 h-65px py-10px px-10 bg-white dark:bg-full-black'>
    <img src='/proxy-memoize-logo.svg' alt='proxy memoize logo'/>
    <div class='w-40% h-full relative '>
    <img src='/search-icon.svg' alt='search icon' class='absolute left-20px top-1/2 transform -translate-y-1/2'/>
    <input type='text' placeholder='Search' class='font-Dm text-gray w-full h-full transition-all duration-300 ease-in-out bg-hex-FAFBFC rounded-28px  pl-14 pr-10 outline-none border border-hex-ffffff00 focus:( border border-light-blue) dark:(bg-black)' id='searchInput'/>
    <div id='clear' class='cursor-pointer text-gray text-30px opacity-60 absolute right-3 -mt-4px top-1/2 transform -translate-y-1/2'>&times;</div>
    </div>
   <ToggleTheme/>
    </div>
  </body>
  
</html>