---
import ToggleTheme from './ToggleTheme'
import Menu from './Menu.astro'
const { guides } = Astro.props;

---

<div
class="navbar z-10 w-full flex flex-row justify-between items-center gap-20 h-100px pt-32px pb-27px px-48px bg-white dark:bg-hex-1e1e1e <lg:h-88px <md:h-65px <lg:pt-28px <lg:pb-22px <md:p-24px "
>
	<Menu guides={guides}/>
	<a href="/proxy-memoize/" class="<md:hidden">
		<img src="/proxy-memoize/proxy-memoize-logo.svg" alt="proxy memoize logo" class=" <lg:w-166px <lg:h-38px " />
	<a/>
	<a href="/proxy-memoize/" class="hidden <lg:hidden <md:block">
		<img src="/proxy-memoize/proxy-memoize-logo-mobile.svg" alt="proxy memoize logo" class=" <md:w-24px <md:h-24px " />
	<a/>
	<ToggleTheme client:load />
</div>
