---
import ToggleTheme from './ToggleTheme'
import Menu from './Menu.astro'
const { guides } = Astro.props;

---

<div
class=" z-10 w-full flex flex-row justify-between items-center gap-20 h-100px pt-32px pb-27px px-48px bg-white dark:bg-full-black <lg:h-88px <md:h-65px <lg:pt-28px <lg:pb-22px <md:p-24px <md:pb-16px"
>
	<Menu guides={guides}/>
	<img src="/proxy-memoize/proxy-memoize-logo.svg" alt="proxy memoize logo" class="w-177px h-40px <lg:w-166px <lg:h-38px <md:hidden" />
	<img src="/proxy-memoize/proxy-memoize-logo-mobile.svg" alt="proxy memoize logo" class="hidden <lg:w-166px <md:block <md:w-24px <md:h-24px " />
	<ToggleTheme client:load />
</div>
