---
import ToggleTheme from "./ToggleTheme.astro";
---

<div
  class="fixed z-10 w-full flex flex-row justify-between items-center gap-20 h-65px py-10px px-10 bg-white dark:bg-full-black"
>
  <img src="/proxy-memoize-logo.svg" alt="proxy memoize logo" />
  
  <ToggleTheme />
</div>
