---
const selectItems=[
    {id:0,
    title:'How it works',
},
    {id:1,
    title:'Install',
},
    {id:2,
    title:'How it behaves',

},
    {id:3,
    title:'Usage with React Context',

},
    {id:4,
    title:'Using size option',
},
    {id:5,
    title:'Usage with Zustand',


},
]
---

<div class="topbarItems sticky top-64px  border-b-2px border-b-DEF2F0 flex flex-row justify-start items-center gap-32px mb-40px bg-white dark:bg-full-black">
    {selectItems.map(({title})=>{
        return(
<button class="flex flex-col justify-start items-center gap-16px notActive">
    <p class='font-Dm text-14px font-500 text-gray dark:text-white' id={title}>{title}</p>
    <div class="w-full h-4px rounded-full bg-hex-009B8D hidden" ></div>
    </button>
    )
    })}
</div>
<script>
const element = document.getElementById("install");
let pos = element;
console.log('test',pos)

const buttons = document.querySelectorAll(".topbarItems");
buttons.forEach((el) => el.addEventListener("click", sidebarOnClick));

function sidebarOnClick(e: Event) {
const clickedElement = (e.target as Element).parentElement!;

const text = e.target.innerHTML
const triger = text.replace(/\s+/g, '-').toLowerCase();
    var element = document.getElementById(triger);
    var headerOffset = 120;
    var elementPosition = element.getBoundingClientRect().top;
    var offsetPosition = elementPosition + window.pageYOffset - headerOffset;
  
    window.scrollTo({
         top: offsetPosition,
         behavior: "smooth"
    });


//  document?.getElementById(triger).scrollIntoView({behavior:"smooth"});

 const currentActiveElement = document.querySelector(".active");
if (currentActiveElement !== null) {
  currentActiveElement.classList.remove("active");
} 
    clickedElement.classList.add("active");

}
  

</script>
<style>
    .notActive{
        margin-bottom: 16px;
    }
    .active{
        margin-bottom: 0px !important;
    }
    .active >div{
        display: block;
    }
   
  </style>