---
const items = [
  {
    id: 0,
    title: "Introduction",
    img: "/introduction.svg",
  },
  {
    id: 1,
    title: "Guides",
    img: "/guides.svg",
  },
  {
    id: 2,
    title: "API",
    img: "/API.svg",
  },
  {
    id: 3,
    title: "Repository",
    img: "/repository.svg",
  },
  {
    id: 4,
    title: "Updates",
    img: "/updates.svg",
  },
  {
    id: 5,
    title: "Help",
    img: "/help.svg",
  },
];
---

<div
  class="min-w-170px w-225px min-h-289px sticky top-20 flex flex-col justify-start items-start gap-4 font-Dm text-14px font-bold text-indigo dark:(text-light-gray)"
  '
>
  {
    items.map(({ title, img }) => (
      <div class="sidebarItem pl-10px border-l-6 border-l-transparent flex cursor-pointer opacity-60 gap-10px">
        <img src={img} alt=$[title] />
        <span class="font-Dm">{title}</span>
      </div>
    ))
  }


  <div
    class="h-44px p-4 fixed bottom-10 left-0 bg-gradient-to-r from-hex-DCEDFF to-hex-F5FAFF border-l-6 border-l-indigo flex justify-center items-center gap-1 dark:(border-light-gray from-hex-3C3C3C to-hex-3C3C3C)"
  >
    <img src="/pheno-agency-logo.svg" alt="pheno agency logo" class="-mt-4px" />
    <p
      class="font-Roboto text-indigo font-500 text-14px dark:(text-hex-EFEFEF)"
    >
      Designed by Pheno
    </p>
  </div>
</div>
<script>
  function sidebarOnClick(e: Event) {
    const clickedElement = (e.target as Element).parentElement!;
    const currentActiveElement = document.querySelector(".sidebarItem.active");

    if (currentActiveElement !== null) {
      currentActiveElement.classList.remove("active");
    }

    clickedElement.classList.add("active");
  }
  const buttons = document.querySelectorAll(".sidebarItem");
  buttons.forEach((el) => el.addEventListener("click", sidebarOnClick));
</script>
<style>
  .active {
    border-left: 6px solid #183F6E !important;
    width: 100%;
    background: linear-gradient(to right, #DCEDFF 100%,#F5FAFF 0% );
  }

</style>