<html  lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class='w-225px min-h-289px sticky top-10 mt-20'>
      <div>
<!-- icon here -->      <p>
      Introduction
      </p>
      <div>
<!-- icon here -->      <p>
      Guides
      </p>
      <div>
<!-- icon here -->      <p>
      API
      </p>
      <div>
<!-- icon here -->      <p>
      Repository
      </p>
      </div>
      <div>
<!-- icon here -->      <p>
      Updates
      </p>
      </div>
      <div>
<!-- icon here -->      <p>
      Help
      </p>
      </div>
      <div class='h-44px p-4 fixed bottom-10 left-0 bg-gradient-to-r from-hex-DCEDFF to-hex-F5FAFF border-l-6 border-l-hex-183F6E flex justify-center items-center gap-1 dark:(border-light-gray from-hex-3C3C3C to-hex-3C3C3C)'>
      <img src='/pheno-agency-logo.svg' alt="pheno agency logo" class='-mt-4px'/>
      <p class='font-Roboto text-indigo font-500 text-14px dark:(text-hex-EFEFEF)'>

      Designed by Pheno
      </p>
      </div>
      </div>
  </body>
  </html>
