
    <label  class=' relative rounded-25px border border-hex-ECF5FF border-2 w-221px h-50px flex justify-between items-center cursor-pointer p-2 dark:(bg-black border-0) <lg:w-107px <lg:h-38px <lg:rounded-19px <lg:p-1' for='toggleTheme'>
    <input type='checkbox' id='toggleTheme' class='opacity-0 w-0 h-0 absolute'/>
<div class='z-0 absolute left-6px transition-all duration-500 ease-in-out w-1/2 h-85% rounded-24px bg-indigo dark:(bg-full-black) <lg:left:2px'
id='switch'></div>
    <div class='z-1 relative flex flex-row justify-center gap-2 items-center w-109px <lg:w-50px <lg:gap-0 '>
     <img src='/proxy-memoize/light-icon.svg' alt='light icon'/>
<p class="font-Dm font-bold text-12px text-white dark:(text-light-gray) <lg:hidden">Light</p>
    </div>
    <div class='z-1 relative flex flex-row justify-center gap-2 items-center w-109px <lg:w-50px <lg:gap-0'>
     <img src='/proxy-memoize/dark-icon.svg' alt='dark icon'/>
<p class="font-Dm font-bold text-12px pt-1px text-black dark:(text-light-gray) <lg:hidden">Dark</p>
    </div>

     </label>
